.invoice-body{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.invoice-body-input{
    height: 16px;
}

button[type=delete]{
    background-color: white;
    border-color: black;
    border-radius: 12px;
    color: black;
    padding: 3px 12px;
    text-decoration: none;
    font-size: 12px;
    margin: 0px 3px;
    cursor: pointer;
}

button[type=delete]:hover{
    background-color: black;
    color: white;
}