.App {
  display: block;
  margin: auto;
  max-width: 75%;
  padding-top: 32px;
  text-align: center;
}

button[type=button]{
  background-color: white;
  border-color: black;
  border-radius: 12px;
  color: black;
  padding: 6px 18px;
  text-decoration: none;
  font-size: 15px;
  margin: 4px 6px;
  cursor: pointer;
}

button[type=button]:hover{
  background-color: black;
  color: white;
}

input[type=submit]{
  background-color: white;
  border-color: black;
  border-radius: 12px;
  color: black;
  padding: 6px 18px;
  text-decoration: none;
  font-size: 15px;
  margin: 10px 6px;
  cursor: pointer;
}

input[type=submit]:hover{
  background-color: #199244;
  color: white;
}